{% extends "base.html" %}{% load static %}{% load url from future %}

{% block extrascript %}
<link href="{% static 'datatables/css/jquery.dataTables.css' %}" rel="stylesheet">
<link href="{% static 'datatables/css/dt_bootstrap.css' %}" rel="stylesheet">
<style>

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

</style>
<script type="text/javascript" src="{% static 'd3js/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pestileaks/js/d3_gewassen.js' %}"></script>
<script type="text/javascript" src="{% static 'pestileaks/js/utils.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#toepassingsMethodes-table').dataTable({
//		bProcessing: true,
//		bServerSIde: true,
		bFilter:false, bPaginate:false, bInfo:false,
		sAjaxSource: "api/toepassingsmethode/?format=json",
		sAjaxDataProp: "objects",
		aoColumns: [
			{'mData': "id"},
			{'mData': "naam"},
		],
		fnServerData: datatables_tastypie,
	});
});
$(document).ready(function(){
	$('#middel-table').dataTable({
		bProcessing: true,
		bServerSide: true,
		oLanguage: datatables_dutch,
		//iDisplayLength: 20,
		//bFilter:false, bPaginate:false, bInfo:false,
		sAjaxSource: "api/middel/?format=json",
		sAjaxDataProp: "objects",
		aoColumns: [
			{'mData': "naam"},
			{'mData': "bedrijf"},
			{'mData': "toelatings_nummer"},
		],
		fnServerData: datatables_tastypie,
	});
});
</script>


<!-- <script src="http://d3js.org/colorbrewer.v1.min.js"></script> -->
{% endblock extrascript %}

{% block content %}	
    <div class="jumbotron">
      <div class="container">
	    <h1><i class="fa fa-info-circle"></i> Data-overzicht <small>informatie over de gebruikte bronnen</small></h1>
		<!--[if lte IE 8]>
			<div class="alert alert-danger">
				Sorry, je gebruikt Internet Explorer 8 of nog ouder en dan werken onze grafieken niet.
				Gebruik Internet Explorer 9 of hoger, of installeer een echte browser zoals <a target="_blank" href="http://www.google.com/chrome">Google Chrome</a> or <a target="_blank" href="http://www.mozilla.org">Mozilla Firefox</a>.
			</div>
		<![endif]-->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
	        <h2><i class="fa fa-leaf"></i> Gewassen</h2>
	        <p>
	        	De toelatingen worden uitgedrukt in DTG-lijst. Dit is niet een zuivere gewassenlijst maar een mix van gewassen,
	        	gewasgroepen en eindproducten. We willen de toelatingen onstluiten in de gewascodes van <a href="http://www.agroconnect.nl/">editeelt</a>,
	        	en idealiter is de mestwetgeving (lijst nummer 3) hier ook aan te koppelen.
	        </p>
	        <p><a class="btn btn-default" href="#gewassen">Bekijk de gewassen data</a></p>

	    </div>
        <div class="col-lg-3">
	        <h2><i class="fa fa-flask"></i> Middelen</h2>
	        <p>
	        	De middelen worden gehaald uit de <a href="www.ctb.agro.nl/portal/page?_pageid=33,46731&_dad=portal&_schema=PORTAL">Excel sheets met toegelaten middelen</a> zoals te vinden bij het CTGB.
	        </p>
	        <p><a class="btn btn-default" href="#middelen">Bekijk de lijst met middelen</a></p>
	    </div>	    
	    
        <div class="col-lg-3">
	        <h2><i class="fa fa-archive"></i> Toelatingen</h2>
	        <p>
	        	De toelatingen worden nu gehaald van de <a href="http://www.ctb.agro.nl/portal/page?_pageid=33,46731&_dad=portal&_schema=PORTAL">bestrijdingsmiddelendatabank</a>,
	        	de site van <a href="http://www.ctgb.nl/">CTGB</a> en we willen kijken naar <a href="http://www.fytostat.nl/">Fytostat</a>. De uitdaging is om deze documenten correct te analyseren.
	        </p>
	        <p><a class="btn btn-default" href="#toelatingen">Bekijk de lijst met toelatingen</a></p>
	    </div>
        <div class="col-lg-3">
	        <h2><i class="fa fa-bug"></i> Aantasters, toepassingsmethodes</h2>
	        <p>
	        	De middelen aantasters en toepassingsmethodes zijn twee korte lijsten die we langzamerhand opbouwen.
	        </p>
	        <p><a class="btn btn-default" href="#aantasters">Bekijk de lijst met aantasters en toepassingsmethodes</a></p>
	    </div>
	  </div>
   </div>
	    
	<hr/>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
      	  <h2><a name="gewassen"></a><i class="fa fa-leaf"></i> Gewassen <small>klik op een gewas / groep om de hiërarchie te ontdekken</small></h2>
      	  <p>De classificatie van gewassen is in 1) Teeltgroepen/toepassingssectoren &raquo; 2) Gewasgroepen, toepassingsgebieden &raquo; 3) Sub-gewasgroepen &raquo; 4) Gewassen. Hieronder staat de classificatie schematisch weergegeven.</p>
          <div class="col-lg-12">
        	  <div id="vis"></div>
	      </div>
	    </div>
	  </div>
	</div>

	<hr/>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
	      	<h2><a name="middelen"></a><i class="fa fa-flask"></i> Middelen <small> toegelaten middelen in Nederland</small></h2>
		      <table id="middel-table" style="width:100%;" class="table-bordered">
		  		<thead>
		      	<tr><th>middel</th><th>fabrikant</th><th>toelating</th></tr>
	      		</thead>
		      </table>
	    </div>
	  </div>
      <div class="row">
        <div class="col-lg-12">
    	  <div id="middelen-graphic"></div>
	    </div>
	  </div>
	</div>

	<hr/>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
	      	<h2><a name="toelatingen"></a><i class="fa fa-archive"></i> Toelatingen <small> de lijst waar het om gaat</small></h2>
	      	<p>Dit moet nog gemaakt worden.</p>
	    </div>
	  </div>
	</div>

	<hr/>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
	      <h2><a name="aantasters"></a><i class="fa fa-bug"></i> Aantasters</h2>
	      <table id="aantasters-table" style="width:100%;" class="table-bordered">
	  		<thead>
	      	<tr><th>id</th><th>aantaster</th></tr>
      		</thead>
	      </table>
		  <p>Deze tabel is nog leeg</p>	      
	    </div>
	    
        <div class="col-lg-6">
	      <h2><i class="fa fa-wrench"></i> Toepassingsmethodes</h2>
	      <table id="toepassingsMethodes-table" style="width:100%;" class="table-bordered">
	  		<thead>
	      	<tr><th>id</th><th>methode</th></tr>
      		</thead>
	      </table>
	    </div>
	  </div>
	</div>

{% endblock content %}	
